.mdb{
    background-image: url("https://mdbootstrap.com/img/Photos/Others/clothes(5)-crop.jpg");
    opacity:0.8;
    height:400px;
    z-index: 9999;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdb h1{
    color:white;
}

.center{
    position: absolute;
    
}

a{
    color:black;
}

.flexed{
    display:flex;
}