.skin-light .btn-group.btn-group-toggle.btn-color-group .border-inset-grey {
    box-shadow: inset 0 0 0 1px #ccc;
}

.skin-light .btn {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
}

.rounded-circle{
    border-radius: 50%;
}

.white{
    background-color: white;
    color:white;
}


.grey{
    background-color: grey;
}

.black{
    background-color: black;
    color:black;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.indigo{
    background-color: indigo;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}
