* {
    margin: 0%;
    padding: 0%;
    .main {
        .register {
            color: rgb(73, 145, 77);
        }
        .button {
            padding: 8px 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: white;
            flex-wrap: wrap;
            width: 45%;
            margin: 10px 2px;
            text-align: center;
            cursor:pointer;
        }
        .registerButton {
            background-color: rgba(61, 116, 65, 0.877);
        }
        .reset {
            background-color: rgba(224, 24, 34, 0.644);
        }
    }
}